# python linters and formatters
autopep8
isort
jedi
mccabe
mypy
prospector
flake8
pylama
pylint
rope
vim-vint
yamllint
yapf

# cpp linters
cpplint

# common packages
#opencv-python
Pillow
jupyter
lxml
numpy
scikit-image
scikit-learn
scipy
six
sk-video

# virtualenv
virtualenvwrapper

# deep learning
#mxnet
#tensorflow
#torch
#torchvision

# special utils
tmuxp

# for NeoVim
neovim jedi psutil setproctitle
