# python linters and formatters
autopep8
flake8
isort
jedi
jsbeautifier
mccabe
mypy
prospector
pyannotate
pylama
pylint
#rope
vim-vint
yamllint
yapf

# cpp linters
cpplint

# common packages
#opencv-python
Pillow
jupyter
lxml
numpy
scikit-image
scikit-learn
scipy
six
sk-video
#av

# virtualenv
virtualenvwrapper

# deep learning
#mxnet
#tensorflow
#torch
#torchvision

# special utils
#tmuxp

# for NeoVim
neovim
psutil
setproctitle
